<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ article.title }}</title>
    {% assets filters="libsass", output="css/style.css", "css/style.scss" %}
    <link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}">
    {% endassets %}
</head>
<body class="ph3 ph4-ns system-sans-serif pb3 pb4-ns">
    <nav class="flex justify-between w-100">
        <h1 class="mt3 mt4-ns mb0 ttu b f1 f-subheadline-l"><a class="black link" href="{{SITEURL}}">{{ SITENAME }}</a></h1>
    </nav>
    <article class="mt3 mt4-ns lh-copy flex flex-column">
        <div class="mw6 mw7-l self-center tj" aria-labelledby="title">
            <h1 class="mb0">{{ article.title }}</h1>
            <h2 class="mt0 mb5">{{ article.date.strftime('%Y-%m-%d') }}</h2>
            {{ article.content }}
        </div>
    </article>
</body>
</html>
