<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    {% assets filters="libsass,cssmin", output="css/style.css", "css/style.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
    <link rel="alternate" type="application/atom+xml" title="All posts" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">
    <link rel="alternate" type="application/rss+xml" title="All posts" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if article.metadata.mathjax %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        let scaleValue = 1;
        if (screenWidth <= 375) {
            scaleValue = 0.7;
        } else if (screenWidth <= 400) {
            scaleValue = 0.8;
        } else if (screenWidth <= 425) {
            scaleValue = 0.9;
        }
        MathJax = {
            chtml: { scale: scaleValue },
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
</head>
<body class="default-body">
    <nav class="flex justify-between w-100">
        <h1 class="nav-title">
            <a class="black link" href="{{ SITEURL }}">{{ SITENAME }}</a>
        </h1>
        <div class="flex justify-center di flex-column mr2">
            <span class="f3 b mb1">Feed</span>
            <a class="link black mb1" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}">RSS</a>
            <a class="link black" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">Atom</a>
        </div>
    </nav>
    <main>
        <article class="article-p" itemscope itemtype="https://schema.org/BlogPosting">
            <div class="article-width self-center">
                <h1 class="mb0 tl {{ article.category }}-colour" itemprop="headline">{{ article.title }}</h1>
                <h2 class="mt0 mb5">
                    <time itemprop="datePublished" datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.date.strftime('%Y-%m-%d') }}</time>
                </h2>
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="{{ article.author }}">
                    <meta itemprop="url" content="{{ SITEURL }}">
                </div>
                <meta itemprop="keywords" content="{{ article.tags|join(', ') }}">
                <div itemprop="articleBody">{{ article.content }}</div>
            </div>
        </article>
    </main>
</body>
</html>
