<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ SITENAME }}</title>
    {% assets filters="libsass,cssmin", output="css/style.css", "css/style.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <link rel="canonical" href="{{ SITEURL }}">
</head>
<body class="default-body">
    <section itemscope itemtype="https://schema.org/Blog">
        <nav class="flex justify-between w-100">
            <h1 class="nav-title" itemprop="headline">
                <a class="black link" href="{{ SITEURL }}">{{ SITENAME }}</a>
            </h1>
        </nav>

        <main>
            <div class="ml1 b--dashed flex-row pa3 dib mb3">
                Yo 👋<br><br>I'm Marcus<br><br>Welcome to my blog
            </div>

            {% for article in articles %}
            <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
                <h2 class="ml1">
                    <time itemprop="datePublished" datetime="{{article.date.strftime('%Y-%m-%d')}}">{{article.date.strftime('%Y-%m-%d')}} - </time>
                    <a class="f2 f2-m f-subheadline link black {{ article.category }}-colour" href="{{ SITEURL }}/{{ article.url }}">
                        <span itemprop="headline">{{ article.title }}</span>
                    </a>
                </h2>
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="{{ article.author }}">
                    <meta itemprop="url" content="{{ SITEURL }}">
                </div>
            </article>
            {% endfor %}
        </main>
    </section>
</body>
</html>
