@import "highlight.css";
@import "tachyons";

h1 {
    @extend .f1;
}

h2 {
    @extend .f2;
}

h3 {
    @extend .f3;
}

h4 {
    @extend .f4;
}

h5 {
    @extend .f5;
}

code {
    @extend .code;
    font-size: 0.875rem;
}

// Custom classes

.aw-l {
    max-width: 38rem;
}

.default-body {
    @extend .ph3;
    @extend .ph4-ns;
    @extend .system-sans-serif;
    @extend .pb3;
    @extend .pb4-ns;
    font-size: 1.025rem
}

.nav-title {
    @extend .mt3;
    @extend .mt4-ns;
    @extend .mb4;
    @extend .ttu;
    @extend .f-subheadline;
}

.note {
    @extend .bg-light-gray;
    @extend .tj;
    @extend .ba;
    @extend .b--black-50;
    padding: 0.5rem;
    font-size: 1rem;
}

.footnote-ref {
    @extend .link;
    @extend .black;
    @extend .underline;
}

.footnote-backref {
    @extend .link;
    @extend .black;
}

// Post Categories

.philosophy-colour {
    @extend .dark-pink;
}

.opinion-colour {
    @extend .dark-green;
}

.code-colour {
    @extend .dark-blue;
}
